<div class="ant-layout" style="height: 100vh;">
    <div class="ant-row-flex ant-row-flex-space-around ant-row-flex-middle" style="height: 100vh;">
        <div class="ant-spin ant-spin-lg ant-spin-spinning">
            <span class="ant-spin-dot">
                <i></i><i></i><i></i><i></i>
            </span>
        </div>
    </div>
</div>