{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>orders-erp</title>
    {% include 'core/appLoadingSpinner.css.html' %}

</head>
<body>
<div id=root>
    {% include 'core/appLoadingSpinner.html' %}
</div>
<script type="text/javascript" src="{% static 'js/vendor.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bundle.js' %}"></script>
</body>
</html>