.anticon.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;
}

.box {
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0 0 16px;
    -webkit-transition: all .2s;
    transition: all .2s;
    padding: 10px;
}


.non-field-error {
    color: #f04134;
}


.index-spinner {
    text-align: center;
    background: rgba(0,0,0,0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}

.ant-row {
    margin-bottom: 10px;
}

a.ant-btn {
    line-height: 28px;
}

.buttons-box {
    .ant-btn:not(:last-child) {
        margin-right: 8px;
    }
}

.content-overlay {
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;

    span {
        position: absolute;
        top: calc(~"50% - 20px");
        left: calc(~"50% - 20px");
    }
}
